:root {
  --sidebar-width: 270px;
}

.layout {
  .layout-container {
    display: flex;
    flex: 1;

    .main-content {
      width: 100%;
      padding: 40px 20px;
      margin-left: var(--sidebar-width);
      background-color: #f5f5f5;
      transition: margin-left 0.3s ease;
    }
  }
}